.skeleton {
  border-left: 1px solid grey;
  margin-left: 50%;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  .skeleton-mobile {
    transform: translateX(-50%);
    border-left: none;
  }
}

@media only screen and (max-width: 550px) {
  .skeleton-mobile {
    margin-left: 2%;
    transform: translateX(0%);
    border-left: none;
  }
}
