.msg-box {
  padding: 1.5rem;
  padding-bottom: 0;
  padding-top: 0.5rem;
  max-width: 400px;
  min-width: 200px;
  border: 1px solid #d2d2d2;
  background: white;
  font-size: 12px;
  overflow: hidden;
}

.msg-box pre {
  white-space: pre-line;
}

.msg-sent {
  background: #efeff0;
}

@media only screen and (max-width: 550px) {
  .msg-box {
    width: 80%;
  }
}
